{{! Stream sidebar rows }}

<li class="narrow-filter" folder_name="{{folder_name}}" subfolder_name="{{subfolder_name}}" subfolder_id="{{subfolder_id}}">
    <div id="subfolder_li_{{subfolder_id}}">
        <div class="subscription_block_subfolder sub_subfolder_{{subfolder_id}}">
          <div class="subfolder_underline">
            <span class="subfolder_span" title="{{subfolder_name}}">{{subfolder_name}}</span>
            <span class="subfolder_unread_count unread_count"></span>
          </div>

            <ul id="stream_filterss" class="subfolder_rows_{{subfolder_id}}" subfolder_rows="{{subfolder_name}}"></ul>
        </div>
    </div>
</li>
