{{! Stream sidebar rows }}

<li class="narrow-filter stream_folders" folder_name={{name}}>
    <div class="bottom_left_row">
        <div class="subscription_block selectable_sidebar_blocks">

            <div title="{{name}}" class="stream-name">{{name}}</div>
            <div>
                <ul id="stream_subfolder" class="subfolder_{{name}}" folder_name={{name}}></ul>
            </div>
        </div>
    </div>
</li>
