{{! Stream sidebar rows }}

<li class="narrow-filter" folder_name="{{folder_name}}" subfolder_name="{{subfolder_name}}">
    <div id="subfolder_li_{{subfolder_id}}">
        <div class="subscription_block_subfolder {{subfolder_id}}">

            <span title="{{subfolder_name}}">{{subfolder_name}}</span>
            <span class="subfolder_unread_count unread_count"></span>

            <ul id="stream_filterss" class="subfolder_rows_{{subfolder_id}}" subfolder_rows="{{subfolder_name}}"></ul>

        </div>
    </div>
</li>
